.btns {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn {
    background: blue;
    padding: 2px 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.content {
    width: 96%;
    height: calc(100vh - 90px);
    margin: 0 auto;
    border: 1px solid #ccc;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
