/* 画布相关 */
.z-custom-context-menu, .z-custom-context-submenu {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    transform-origin: top left;
    transition: opacity 150ms ease-out, transform 150ms ease-out;
    pointer-events: none;

    position: absolute;
    list-style: none;
    padding: 8px 6px;
    background: #fff;
    border: 1px solid rgba(18, 17, 42, 0.07);
    z-index: 9999;
    margin: 0;
    min-width: 126px;
    box-shadow: 0px 8px 24px rgba(25, 25, 26, 0.06),
    0px 4px 16px rgba(25, 25, 26, 0.04),
    0px 0px 4px rgba(25, 25, 26, 0.04);
    border-radius: 8px;
}

.z-custom-context-menu.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    pointer-events: auto;
}

.z-custom-context-menu-item {
    padding: 0 6px 0 8px;
    cursor: pointer;
    color: #19191a;
    font-size: 12px;
    border-radius: 6px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.z-custom-context-menu-item-divider {
    height: 1px;
    margin: 4px 0;
    background-color: rgb(18 17 42 / 7%);
}

.z-custom-context-sub-menu-arrow {
    width: 20px;
    height: 30px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAJlJREFUWEftlNEJAkEQQ3OdeJ2YzrSSs5NgJV4pOuCHiAiXWTyE7PdCHi8zM2HnN+2cjwDEQAzEwH8akCQAVwAXkmvnmloGJN0e4QcA5y6EC1DhZaENYQGUcklDIGyATxAkT1vnYQTAAuAIYCU5/wzgWUErvGAtA6PCOwC1Abb215pcA3UH4HT+PiMWwNZB+/Y/ADEQAzEQA3cbpzUhT33sywAAAABJRU5ErkJggg==");
    background-size: cover;
}

.z-custom-context-menu-item:hover {
    background-color: rgb(243, 243, 244);
}

.z-custom-context-menu > li:hover .z-custom-context-submenu {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    visibility: visible;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.z-custom-context-menu {
    animation: fadeInScale 150ms ease-out;
    transform-origin: top left;
}
